.projectContainer {
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    color: var(--silver);
    margin-left: 10px;
  }
  
  .ProjectList {
    padding: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
  }

}
