.skillContainer {
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    margin-left: 10px;
    color: var(--dark-blue);
    span {
      color: var(--gray);
    }
  }

  .SkillList {
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 0;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

}