.skillContainer {
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    margin-left: 10px;
    letter-spacing: 0.05em;

    color: var(--function);
    span {
      color: var(--symbol);
    }
  }

  .SkillList {
    
    .SkillCategory {
      padding-left: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      h3.categoryHeader {
        padding-right: 20px;
        margin-left: -20px;

        color: var(--name-lite)
      }
  
    }

  }
}