:root {
  --black: #020104;
  --dark-blue: #181629;
  --gray: #27282f;
  --dark-red: #6b1704;
  --blue: #013d8b;
  --silver: #d7e3f5;
  --white: #f7fefc;
}

.appContainer {
  max-width: 1000px;
  margin: auto;
}
