.bioContainer {
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    color: var(--silver);
    margin-left: 10px;
  }

  .Bio {
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 20px;

    color: var(--white);

    .secondary {
      display: none;

      @media only screen and (min-width: 700px) {
        display: block;
      }
    }
  }
}
