.Bio {
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    margin-left: 10px;
    color: var(--function);
    span {
      color: var(--symbol);
    }

    img {
      margin-left: 20px;

      object-fit: cover;
      height: 1em;
      width: 1em;

      border-radius: 50%;
      background-color: var(--text-lite-liter);

      &:hover {
        box-shadow: 
          inset 0 0 5px 3px var(--text),
          0 0 10px var(--text);
        cursor: pointer;
      }
    }

    /* How to make a foreground image into a sprite comes from css-tricks: 
      https://css-tricks.com/spriting-img/ */
    img.playSprite {
      object-position: 0.04em 0;
    }
    img.pauseSprite {
      object-position: -1.06em 0;
    }
  }
}
