.Header {
  background-color: var(--symbol);
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);

  margin-bottom: 30px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 1vmin);
    color: var(--text);
  }

}
