.Header {
  background-color: var(--gray);
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 1vmin);
    color: var(--white);
  }

}
