/* 
  CSS Scrolling text in Star Wars style is sourced from Craig Buckler:
  http://www.sitepoint.com/css3-starwars-scrolling-text/
*/

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.relativeContainer {
  position: relative;
}

.ScrollingBio {
  /* this height drives some values below */
  height: 300px;

  overflow: hidden;
  background: linear-gradient(black, var(--background));

  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;

  cursor: default;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

  /* the interesting 3D scrolling stuff */
  #titles
  {
    position: absolute;

    /* this height is 150% the height of ScrollingBio 
      & top should be 60% of ScrollingBio */
    height: 450px;
    top: -180px;
    left: 10px;
    right: 10px;

    overflow: hidden;

    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(30deg);
    -moz-transform: perspective(300px) rotateX(30deg);
    -ms-transform: perspective(300px) rotateX(30deg);
    -o-transform: perspective(300px) rotateX(30deg);
    transform: perspective(300px) rotateX(30deg);
  }

  #titles p {
    font-size: calc(1em + 1vw);
    text-align: justify;
    margin: 0.8em 0;
  }

  #titles a {
    color: #ff6;
    text-decoration: underline;
  }

  #titlecontent {
    position: absolute;
    top: 0;
    -webkit-animation: scroll 30s linear 1s infinite;
    -moz-animation: scroll 30s linear 1s infinite;
    -ms-animation: scroll 30s linear 1s infinite;
    -o-animation: scroll 30s linear 1s infinite;
    animation: scroll 30s linear 1s infinite;
  }

  #titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -ms-linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: -o-linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
  }

  /* animation */
  /* animation start is 150% the height of ScrollingBio */
  @-webkit-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
  }

  @-moz-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
  }

  @-ms-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
  }

  @-o-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
  }

  @keyframes scroll {
    0% { top: 450px; }
    100% { top: -150vh; }
  }

}